- name: Install mysql client
  ansible.builtin.dnf:
    name: mysql
    state: present

- name: Check if cities schema exists
  ansible.builtin.command: >
    mysql -h mysql.venky.shop -uroot -p{{ mysql_password }}
    -sN -e "SELECT COUNT(*) FROM INFORMATION_SCHEMA.SCHEMATA WHERE SCHEMA_NAME='cities'"
  register: schema
  changed_when: false

- name: Print schema status
  ansible.builtin.debug:
    msg: "Cities schema count = {{ schema.stdout }}"

- name: Load schema.sql
  ansible.builtin.shell: >
    mysql -h mysql.venky.shop -uroot -p{{ mysql_password }} < /app/db/schema.sql
  when: schema.stdout == "0"

- name: Load app-user.sql
  ansible.builtin.shell: >
    mysql -h mysql.venky.shop -uroot -p{{ mysql_password }} < /app/db/app-user.sql
  when: schema.stdout == "0"

- name: Load master-data.sql
  ansible.builtin.shell: >
    mysql -h mysql.venky.shop -uroot -p{{ mysql_password }} < /app/db/master-data.sql
  when: schema.stdout == "0"